@font-face {
  font-family: "Cozette";
  src:
    url("/fonts/CozetteVector.woff2") format("woff2"),
    url("/fonts/CozetteVector.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Cozette";
  src:
    url("/fonts/CozetteVectorBold.woff2") format("woff2"),
    url("/fonts/CozetteVectorBold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "VCR";
  src: url("/fonts/VCR_OSD.ttf");
  font-display: swap;
}
@font-face {
  font-family: "PixelOperator";
  src: url("/fonts/PixelOperator.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PixelOperator";
  src: url("/fonts/PixelOperator-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Minecraftia";
  src: url("/fonts/Minecraftia.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Pixellari";
  src: url("/fonts/Pixellari.ttf");
  font-display: swap;
}
@font-face {
  font-family: "MinecraftStandard";
  src: url("/fonts/MinecraftStandard.otf");
  font-display: swap;
}
@font-face {
  font-family: "CyborgSister";
  src: url("/fonts/CyborgSister.ttf");
  font-display: swap;
}
@font-face {
  font-family: "GenericMobileSystem";
  src: url("/fonts/GenericMobileSystemNuevo.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "CyborgSister";
  /* font-size: clamp(13px, 0.6vw + 10px, 16px); */
  font-size: 24px;
  overflow-x: hidden;
}
h1 {
  /* font-size: clamp(24px, 3vw + 12px, 48px); */
  font-size: 48px;
  line-height: 1.1;
}
h2 {
  /* font-size: clamp(16px, 1.5vw + 10px, 24px); */
  font-size: 28px;
  line-height: 1.2;
}
a {
  color: white;
}
em {
  font-style: normal;
  text-decoration: underline dotted;
  /* text-shadow: ; */
  /* color: black; */
  /* background-color: white; */
}
p a:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}
a:hover .panel {
  text-decoration: none;
  color: black;
  background-color: white;
}
.linkless:hover {
  background-color: inherit;
}
p {
  /* font-size: clamp(12px, 0.5vw + 10px, 16px); */
  font-size: 24px;
  line-height: 20px;
  padding: 5px 0;
}
:lang(fr) p {
  text-align: justify;
}
.slide {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.fixed_background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gui_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gui_bottom_center {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
}
.gui_top_center {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%, 0);
}
@media screen and (max-width: 600px) {
  .gui_center {
    width: calc(100% - 40px);
  }
  .gui_bottom_center {
    width: calc(100% - 40px);
  }
  .gui_top_center {
    width: calc(100% - 40px);
  }
  .panel {
    box-shadow: 5px 5px 0 black;
  }
  .shadow {
    box-shadow: 5px 5px 0 black;
  }
  .inverted {
    box-shadow: 5px 5px 0 black;
  }
  .not_large {
    max-width: 100%;
  }
  .board {
    margin: 20px auto;
  }
}
.panel {
  width: fit-content;
  color: white;
  background-color: black;
  /* box-shadow: 10px 10px 0 white; */
  /* color: white;
  text-shadow: 5px 5px 0 black; */
  padding: 5px 10px;
}
.shadow {
  box-shadow: 10px 10px 0 black;
}
.inverted {
  color: white;
  background-color: black;
  box-shadow: 10px 10px 0 black;
}
.board {
  width: 600px;
  max-width: calc(100% - 20px);
  margin: 40px auto;
}
.not_too_tall {
  max-height: 400px;
}
.not_too_tall video {
  width: auto;
  max-width: 100%;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.column > .space {
  margin-bottom: 10px;
}
.row > .space {
  margin-right: 10px;
}
.words {
  flex-wrap: wrap;
}
.words > * {
  margin-right: 10px;
}
.lot_of_words {
  flex-wrap: wrap;
}
.lot_of_words > * {
  margin-bottom: 10px;
  margin-right: 10px;
}
.not_large {
  max-width: 400px;
  margin: auto;
}
.right {
  align-self: end;
}
.flex_center {
  justify-content: center;
}
.self_center {
  align-self: center;
}
.scroll_cursor {
  cursor: pointer;
  align-self: center;
  transition: transform 0.1s ease-in-out;
}
.scroll_cursor:hover {
  transform: scale(1.1);
}
.moving_cursor {
  animation: move_down 0.5s alternate infinite ease-in-out;
}
.moving_cursor_180 {
  animation: move_up 0.5s alternate infinite ease-in-out;
}
@keyframes move_down {
  to {
    transform: translatey(-20%);
  }
}
@keyframes move_up {
  to {
    transform: translatey(20%);
  }
}
